@font-face { font-family: samsung; 
    src: url('fonts/samsungsharpsans-medium_v2.ttf'); 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}
.page1{
    height: 100%;
    width: 100%;
    background-color: #f5efeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page1 h1{
    font-family: samsung;
    font-weight: 900;
    color: black;
    font-size: 18vw;
    opacity: 100%;
    /* transition: all 0.3s ease; */
}
.page1 button{
    border: none;
    padding: 0.5rem 3rem;
    font-family: samsung;
    background-color: #fff;
    font-size: 1.2vw;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.page1 button:active{
    scale: 0.95;
    background-color: #f1f1f1;
}


/* Page2 */
.page2{
    height: 100%;
    width: 100%;
    background-color: #f5efeb;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
    padding: 0 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-wrapper{
    width: 100%;
    height: 70%;
    /* background-color: rgb(130, 106, 75); */
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.swiper-slide video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.page2 .cntrl-1, 
.page2 .cntrl-2 {
    background-color: #111;
    padding: 1rem; /* Reduced padding */
    color: #f1f1f1;
    border-radius: 0.5rem;
    width: 2rem; /* Adjust width */
    height: 2rem; /* Adjust height */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
}

/* Specific positioning for each button */
.page2 .cntrl-1 {
    top: 50%;
    right: 1rem; /* Adjust spacing */
    transform: translateY(-50%);
}

.page2 .cntrl-2 {
    top: 50%;
    left: 1rem; /* Adjust spacing */
    transform: translateY(-50%);
}

/* Resize the icons */
.page2 .cntrl-1::after, 
.page2 .cntrl-2::after {
    font-size: 0.8rem; /* Decrease the size of the arrow icon */
    color: #f1f1f1; /* Icon color */
}


@media all and (max-width: 600px){
    .page2 .cntrl-1, 
    .page2 .cntrl-2{
    display: none;
}
}